.threedblock{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    .threedblock-title{
        color: white;
        font-size: 70px;
    }
    .threedblock-text-block{
        background-color: #EEEADF2E;
        border-radius: 15px;
        color: white;
        font-size: 26px;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }
    .threedblock-text-container-mobile{
        display: none !important;
    }
}

@media screen and (max-width: 1600px) {
    .threedblock-image{
        img{
            width: 400px !important;
            height: 400px !important;
        }
    }
}


@media screen and (max-width: 1400px) {
    .threedblock{
        margin-top: 100px !important;
        .threedblock-title{
            font-size: 50px !important;
        }
        .threedblock-text-block{
            font-size: 22px !important;
        }
        .threedblock-image{
            margin-top: 2%;
            margin-right: 5%;
            img{
                width: 300px !important;
                height: 300px !important;
            }
        }
    
    }
}

@media screen and (max-width: 1200px) {
    .threedblock{
        margin-top: 50px !important;
        .threedblock-title{
            font-size: 40px !important;
        }
        .threedblock-text-block{
            font-size: 18px !important;
        }
        .threedblock-image{
            margin-top: 0 !important;
            margin-right: 0 !important;
            img{
                width: 300px !important;
                height: 300px !important;
            }
           
        }
    }
}

@media screen and (max-width: 950px) {
    .threedblock{
        .threedblock-image{
           display: none !important;
        }
        .threedblock-text-container{
            display: none !important;
        }
        .threedblock-text-container-mobile{
            display: block !important;
        }
    }
   
}

@media screen and (max-width: 600px) {
    .threedblock{
        width: 98% !important;
        .threedblock-text-block{
            padding: 10px 20px !important;
        }
    }
}


@media screen and (max-width: 500px) {
    .threedblock{
        .threedblock-title{
            text-align: center;
            font-size: 30px !important;
        }
        .threedblock-text-block{
            font-size: 16px !important;
        }
    }
}